
    @font-face {
        font-family: Michalina;
        src: url("Michalina.otf") format("opentype");
      }
  
  
  
      body, html{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
  
      footer{
        padding: 16px;
        padding-top: 64px;
      }
  
      #header{
        background: white;
        padding: 8px;
        position: sticky;
        top: 0;
        box-sizing: border-box;
        display: flex;
        width: 100%;
      }
  
      #header > img{
        height: 70px;
      }
  
      #header > ul{
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        flex: 1;
        align-items: center;
      }
  
      #header > ul > li {
        flex: 1;
        text-align: center;
        font-size: 1.2em;
      }



      header{
        padding-top: 80px;
        width: 100%;
        background: rgb(220,220,220);
        display: flex;
        justify-content: center;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 1
    }
    header>nav{
        max-width: 1600px;
        width: 100%;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        flex-wrap: wrap;
    }
    header>nav>*{
        margin: 0px 24px;
    }
    header>nav img{
        height: 100px;
        width: 100px;
    }

    header>nav h1{
        flex: 1;
        font-size: 6em;
        font-family: Michalina, cursive;
        font-weight: 400;
        line-height: 1;
    }

    header>nav ul{
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0px;
        flex: 1;
        font-size: 1.4em;
    }
    header ul li{
        flex: 1;
        min-width: 60px;
        text-align: center;
        padding: 8px;
    }
    header button{
        font-size: inherit;
        padding: inherit;
        margin: inherit;
        width: 100%;
        box-sizing: border-box;
        appearance: none !important;
        -webkit-appearance: none !important;
        border: none;
    }
   @media only screen and (max-width: 800px) {
       header{
           padding: 0px;
       }
   } 


  
      #hero{
        width: 100%;
        height: 100vw;
        max-height: 80vh;
        margin: 0;
        background-size: cover !important;
        background-position: center !important;
        transition-timing-function: ease-in-out;
        background-blend-mode: multiply;
      }
  
      #caption{
  
        font-size: 1.4em;
        padding: 24px;
        width: 100%;
        max-width: 1600px;
        margin: 24px 0px;
        text-align: center;
        box-sizing: border-box;
        height: 20vh;
        display: flex;
        place-items: center;
        justify-content: center;
      }
  
      #caption:empty{
        display: none;
      }
  
      section{
        width: 100%;
        max-width: 1600px;
        padding: 24px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      section>h1{
        font-size: 6em;
        font-family: Michalina, cursive;
        font-weight: 400;
        margin: 0.25em 0em;
        line-height: 0.9em;
      }
  
      section>*{
        max-width: 800px;
        width: 100%;
      }
      section>span{
        font-size: 1.5em;
      }
  
      section.wrapper{
        padding: 0px;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
      }
  
      section.wrapper>section{
        width: unset;
        flex: 1;
      }
  
      section.wrapper>section>*{
        max-width: unset;
      }
  
      #info{
        justify-content: center;
        min-height: 60vh;
        background: url("imgs/case_brushes.jpg") #F50087;
        color: white;
        background-blend-mode: soft-light;
        background-position: center !important;
        background-size: cover !important;
      }
  
      #store{
        text-align: center;
        background: #F36BD8;
        color: white;
      }
      #store>img{
        max-width: 500px;
      }
  
      #social{
        background: #836682;
        color: white;
        text-align: center;
      }
      #social span{
        display: flex;
        justify-content: space-around;
      }
      #social svg{
        filter: invert(1);
      }
  
  
      @media only screen and (max-width: 700px){
        section>h1{
          font-size: 4em;
          width: 100%;
          text-align: left;
        }
      }